#wrapper {
    background-color: #F9FAFB;
    height: 100%;
}

#sidebar {
    height: 100%;
}

#main {
    height: 100%;
    width: auto;
}

#logout-button {
    background: url("../../assets/images/icons/logout-button.svg") no-repeat scroll 0 0 transparent;
}